/* .meet-squat{
    background-color: #3498db;
    color: #fff;
} */
.category-resources{
    background-image: url("../images/bg_yellow.jpeg");
}
.meet-the-squad{
    background-image: url("../images/bg_blue_light.jpeg");
    
}
.category-colouring-sheets{
    background-image: url('../images/bg_purple.jpeg');
}
.category-adoption-sheets{
    background-image: url('../images/bg_blue_purple.jpeg');
}
.custom-centered-wrapper{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.meet-the-squad a,
.meet-the-squad h1{
   color: #fff;
}
.squat{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.squat:nth-of-type(odd)  .squat-img:nth-of-type(odd) {
    order: 1;
}


.squat-img img{
    width: 100%;
}
.squat-body{
    max-width: 400px;
    max-height: 400px; 
}
.squat-body h1{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Vog_Bold';
}
.squat-body p{
    font-size: 14px;
    font-family: 'Vog_Bold';
}
.meet-squat{
    margin: 0 auto;
    
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .squat
    {  
        width: 100%;
    }
    .custom-centered-wrapper
    {
    width: 100%;
    }
    .download-title{
        padding: 1em;
    }
} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .squat{
        
        width: 100%;
    }
   
} 

@media only screen and (min-width:992px){
    .squat{
        
        width: 50%;
    }
}

/* Downloadable Products */

/* coloring sheet */
.coloring-img{
    position: relative;
}
.coloring-title{
    position: absolute;
    bottom: 7%;
    left: 32%;
}
.coloring-title a{
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}

/* adoption sheets */
.download-img{
 position: relative;
}
.download-title{
    position: absolute;
    bottom: 9%;
    left: 37%;
}
.download-title a{
   color: #fff;
   font-weight: 900;
   font-size: 16px;
}