<script type="text/x-magento-init">
    {
        "*":{
        "NStudios_ProductsInfoWidget/js/squad":{}
        }
    }
</script>
<?php
 // @codingStandardsIgnoreFile
/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) : ?>
<?php
$items = $block->getProductCollection()->setOrder('position', 'ASC')->getItems();
$image = 'new_products_content_coloring';

?>

<div class="container">
    <div class="custom-centered-wrapper">
        <div class="row">
            <?php foreach ($items as $item) : ?>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <a target="_blank" rel="noopener noreferrer" href="<?php echo $item->getData('ns_download_clr_sheet_link');?>">
                    <div class="coloring-img">
                        <img src=" <?php echo $block->getImage($item, $image)->getImageUrl(); ?>" alt="">
                        <div class="coloring-title">
                            <a target="_blank" rel="noopener noreferrer"
                                href="<?php echo $item->getData('ns_download_clr_sheet_link');?>">Download</a>
                        </div>
                    </div>
                </a>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<?php endif; ?>