<script type="text/x-magento-init">
        {
            "*":{
                "NStudios_ProductsInfoWidget/js/meet":{}
                }
        }
</script>
<?php
// @codingStandardsIgnoreFile

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'product_sqm_image';
    $items = $block->getProductCollection()->setOrder('position', 'ASC')->getItems();    
    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
?>
   
    <div class="container">
       <section class="meet-squat">
       <?php foreach ($items as $_item): ?>
       <?= $block->getImageUrl($_item, $image) ?>
           <div class="squat" data-aos="fade-right" data-aos-duration="1000" >
               <div class="squat-img" >
                   <?= $block->getImage($_item, $image)->toHtml() ?>
               </div>
               <div class="squat-body">
               <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>">
                   <h1 class="squat-title"> <?= $block->escapeHtml($_item->getName()) ?></h1>
                   <p class="squat-description">
                   <?= $block->escapeHtml($_item->getMallowInfo()); ?>   
                   </p>
                   </a> 
                </div>
            </div>
             
         <?php endforeach ?>   
       </section>
    </div>
<?php endif;?>

